@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');

a.active hr{
    display: block;
    color: red;
}

*{
    font-family: Outfit;
}

.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}

@media (min-width: 300px) and (max-width: 500px) {
  .wec {
    padding-left: 0px;
    padding-right: 0.2rem;
  }
}
 @media (max-width:640px) {
    a.active{
        color: rgb(102, 91, 255);
        font-weight: 600;
    }
 }

 @keyframes scaleUp {
  0%, 100% {
    transform: scale(1);
    opacity: 0.6;
  }
  50% {
    transform: scale(1.3);
    opacity: 1;
  }
}

::-webkit-scrollbar{
  display: none;
}

@keyframes fadeIn {
  0% { opacity: 0; transform: translateY(10px); }
  100% { opacity: 1; transform: translateY(0); }
}

.animate-scaleUp {
  display: inline-block;
  animation: scaleUp 1s infinite ease-in-out;
}

.animate-scaleUp.delay-200 {
  animation-delay: 0.2s;
}

.animate-fadeIn {
  animation: fadeIn 1s ease-in forwards;
}

.fade-in-slow {
  animation: fadeIn 1.2s ease-in-out forwards;
}
